@tailwind base;
@tailwind components;
@tailwind utilities;

.my-custom-class {color: red;padding: 1rem;}
.kpicardbg {@apply bg-cardbackground rounded-5 p-5;box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);}
.ant-dropdown .ant-dropdown-menu {@apply bg-kpcardhover w-32}
.custom-crypto-tabs .ant-tabs-nav{@apply dark:bg-tableheaderBlack;}
.toggle-btn .custom-crypto-tabs .ant-tabs-nav{@apply bg-tabsBg border border-StrokeColor rounded-5;}
.custom-crypto-tabs.ant-tabs-top >div>.ant-tabs-nav::before{border-bottom: 0 !important;}
.custom-crypto-tabs .ant-tabs-tab.ant-tabs-tab-active{@apply !bg-tabActive m-0 ;border-style:solid}
.custom-crypto-tabs .ant-tabs-tab.ant-tabs-tab{@apply rounded-5 py-1.5 px-4 min-w-[96px] justify-center;background: transparent;}
.custom-crypto-tabs.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{@apply text-lightDark text-sm font-semibold;}
.custom-crypto-tabs.ant-tabs .ant-tabs-tab+.ant-tabs-tab{@apply !ml-0;}
.custom-crypto-tabs .ant-tabs-tab-btn{@apply text-tabcolor text-sm font-semibold;}
.basicinfo-form .ant-input.wallet-note{@apply !h-auto;}
.basicinfo-form .ant-form-item, .custom-select-float.ant-form-item,.register-form .ant-form-item{@apply relative}
.basicinfo-form .ant-form-item-label, .custom-select-float .ant-form-item-label,.register-form .ant-form-item-label, .custom-input-lablel{@apply absolute z-[2] text-sm font-normal text-labelGrey text-left block;inset:0.2rem .75rem auto;}
.register-form .ant-form-item-label{@apply !bg-screenBlackBg;}
.basicinfo-form .ant-form-item-label label, .custom-select-float .ant-form-item-label label,.register-form .ant-form-item-label label{@apply h-fit text-labelGrey}
.basicinfo-form .ant-radio-inner{@apply border-2 border-placeholderGrey}
.basicinfo-form .ant-radio,.basicinfo-form .ant-radio-wrapper{@apply text-lightWhite}
.custom-select-float .ant-select-selector{@apply bg-inputBg !border-inputBg text-lightWhite p-1 !rounded !outline-0}
.basicinfo-form .ant-input,.basicinfo-form .ant-picker,.basicinfo-form .ant-select-selector{@apply !h-[52px];padding: 1.5rem .75rem .375rem;}
.custom-input-field{@apply !bg-inputBg rounded-5 w-full border !border-inputBg;height: 52px !important;padding: 1.5rem .75rem .375rem;}
.ant-form-item-has-error .custom-input-field.is-error-br{@apply border border-errorBorderRed; border-color: var(--errorBorderRed) !important;}
.custom-input-field:hover, .custom-input-field:focus, .custom-input-field:focus-within, .custom-input-field:focus-visible{@apply bg-inputBg;border:1px solid #4096ff !important;}
.vertical-line{@apply lg:bg-tabsBg border border-tabsBg border-l h-[60px];}
.collapse-border .ant-collapse-item.ant-collapse-item-active, .collapse-border.ant-collapse > .ant-collapse-item{@apply !border-0}
.collapse-border.ant-collapse>.ant-collapse-item >.ant-collapse-header{@apply px-0 py-1}
.collapse-border.ant-collapse .ant-collapse-content{@apply bg-transparent shadow-none;}
.icon.menu-expandicon {background-position: -91px -354px; height: 18px; width: 18px;transition: transform 0.3s ease-in-out; }
